/* components/Home.css */

.tweets {
    margin-top: 20px;
  }
  /* components/Home.css */

.Home {
  max-width: 600px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: #141d26;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none; /* Remove the default border */
  border-top: 1px solid #6b6b6b;
}